@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(2 6 23);
  background-image: url("/WhatsApp%20Image%202026-02-27%20at%2001.12.44.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.site-zoom-content {
  zoom: 1;
}

.login-page-boost {
  zoom: 1;
}

.login-page-bg {
  background-color: transparent;
  background-image: url("/WhatsApp%20Image%202026-02-27%20at%2001.12.44%20(1).jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.admin-page-bg {
  background-color: transparent;
  background-image: url("/WhatsApp%20Image%202026-02-27%20at%2001.12.44.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (min-width: 640px) {
  .site-zoom-content {
    zoom: 0.9;
  }

  .login-page-boost {
    zoom: 1.111111;
  }
}

@supports not (zoom: 1) {
  .site-zoom-content {
    width: 100%;
    transform: none;
    transform-origin: top left;
  }

  .login-page-boost {
    transform: none;
    transform-origin: top center;
  }

  @media (min-width: 640px) {
    .site-zoom-content {
      width: 111.111111%;
      transform: scale(0.9);
      transform-origin: top left;
    }

    .login-page-boost {
      transform: scale(1.111111);
      transform-origin: top center;
    }
  }
}

.prose a {
  text-decoration: underline;
}

.prose {
  color: rgb(226 232 240);
}

.prose :where(h1, h2, h3, h4) {
  color: rgb(255 255 255);
}

.home-cyber-bg {
  background-color: transparent;
  background-image: none;
}

.web-design-no-bg {
  background-color: transparent;
  background-image: url("/WhatsApp%20Image%202026-02-27%20at%2001.12.44%20(1).jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


